.post-card {
    background-color: #fffffe;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.dash-item {
    min-height: 250px;
    border: 1px solid #333;
    padding: 60px 0;
}

.dash-item span.item-name {
    font-size: 24px;
    display: block;
}

.dash-item span.item-count {
    font-size: 72px;
    display: block;
}

.comment-wrap {
    background-color: #fefff;
}

.comment-avatar {
    max-height: 50px;
}
