{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="container">
      <h1>Categories</h1>
      <div class="row">
        <div class="col-md-2">
          <h2>Category Name</h2>
        </div>
        <div class="col-md-10">
          <h3>Number of Posts</h3>
        </div>
      </div>
      {% for category in categories %}
        <div class="row">
          <div class="col-md-2">
            <h2>{{ category.name }}</h2>
          </div>
          <div class="col-md-10">
            <h3>{{ category.get_active_posts_with_category_count }}</h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
