{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-4 ">
      <h1>Dashboard</h1>
      {% include 'includes/blog/dashboard_sidebar.html' %}
    </div>

    <div class="col-md-8">
      <h1>My Posts</h1>
      <div class="row">
        <div class="col-md-12">
            {% if posts %}
              {% for post in posts %}
                  <div class="well post-card">
                    <h2>{{ post.heading }}</h2>
                    <small>By: {{ post.author }}</small>
                    <p>
                        <span class="label label-default">{{ post.get_status_display }}</span>
                    </p>
                    <p>{{ post.body|truncatewords:10 }}</p>
                  </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">
                <p>There are no posts.</p>
              </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
